# Arquivos locais e temporários
.DS_Store
Thumbs.db

# Configurações e segredos locais
.env
.env.*
!.env.example

# Saídas comuns de ferramentas
node_modules/
dist/
build/

# Local Netlify folder
.netlify
